# Python uchun umumiy qoidalar
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
*.sqlite3

# Virtual environment
env/
venv/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints

# Cache, log va vaqtinchalik fayllar
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.swn
*~
instance/
*.log
*.pid

# migrations uchun (migratsiyalar)
migrations/versions/*.pyc
migrations/versions/*.pyo
migrations/versions/*.pyd
migrations.ini

# Static va media fayllar (statik fayllarni saqlash uchun ishlatiladigan papkalar)
static/
media/

# VSCode va Pycharm kabi IDE’lar uchun
.idea/
.vscode/
.vscode/*

# Docker uchun (agar ishlatsangiz)
docker-compose.override.yml
.docker/
docker-compose.yml
docker-compose.prod.yml
.dockerignore

# Muhit sozlamalari uchun (environment) fayllar
*.env
.env.local
.env.production
.env.development

# Git uchun
!.gitignore
